:root {
	--background-color: #F2F6F1;
	--text-color: #2b2c34;
	--strong-accent-color: #E9562C;
	--alternate-accent-color: #839AA9;
	--link-color: #E9562C;
	--link-hover-color: #839AA9;
	--quiet-color: #839aa936;

	--button-active-color: #839aa936;
	--table-header-bg: var(--text-color);
	--table-header-text: var(--background-color);
	--table-even-rows: #839aa914;
}

/* 

    font-family: 'Oswald', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Source Code Pro', monospace;

*/

* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
}

.dark {
	--text-color: #F2F6F1;
	--background-color: #2b2c34;
	--table-header-bg: var(--text-color);
	--table-header-text: var(--background-color);
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--link-hover-color);
	text-decoration: underline;
}

a:visited {
	color: var(--link-color);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

hr {
	width: 100%;
}

/* My Styles */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 2rem;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
	max-width: 1280px;
  }

@media (min-width: 1280px) {
	.container {
		max-width: 90%;
		width: 90%;
	}
}

  table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

pre {
    white-space: pre-wrap;
}
code {
    font-family: 'Source Code Pro', monospace;
    font-display: swap;
}