:root {
    --fontSize: calc(17px); /* The character count on */  
    --lineHeight: calc(var(--fontSize) * 1.4);
    --letterSpacing: calc(var(--fontSize) * 0.0015);
    --fontWeight: 400;
    --main-font-family: 'Nunito Sans', sans-serif;
    --styled-font-family: 'Permanent Marker', cursive;
    --fixed-font-family: 'Source Code Pro', monospace;
  }

  body {
    font-size: var(--fontSize);
    font-family: var(--main-font-family);
    font-weight: var(--fontWeight);
    line-height: var(--lineHeight);
    font-display: swap;
}

  .h1, h1,
  .h2, h2,
  .h3, h3,
  .h4, h4,
  .h5, h5,
  .h6, h6 {
      font-family: var(--main-font-family);
      font-weight: calc(var(--fontWeight)*1.1);
  }
  
  .h1, h1,
  .h2, h2 {
      line-height: 1.1;
  }
  
  .h3, h3,
  .h4 h4 {
      line-height: 1.3;
  }
  
  .h1, h1 {
      font-size: 3.052em;
      letter-spacing: -2px;
      margin-top: 0;
  }
  
  .h2, h2 {
      font-size: 2.441em;
      letter-spacing: -1px;
  }
  
  .h3, h3 {
      font-size: 1.953em;
  }
  
  .h4, h4 {
      font-size: 1.563em;
  }
  
  .h5, h5 {
      font-size: 1.25em;
  }
  
  .h6, h6 {
      font-size: 1em;
  }
  
  .block-margins {
      margin: 1em 0;
  }
  
  .unordered-list {
      list-style-type: disc;
  }
  
  .ordered-list {
      list-style: decimal;
  }
  
/*   
Modifiers
   */
  
  .float-left {
      float: left;
      margin-right: 1em;
  }
  
  .float-right {
      float: right;
      margin-left: 1em;
  }
  
  .text-left {
      text-align: left !important;
  }
  
  .text-center {
      text-align: center !important;
  }
  
  .text-right {
      text-align: right !important;
  }
  
  
  /*
  Object definitions
   */
  
  .content {
      margin: 0 auto;
      width: 32em;
  }
  
  .author-block {
      border-top: 3px double var(--quiet-color);
      margin-top: 4em;
  }

.fixed {
    font-family: var(--fixed-font-family);
    font-size: calc(var(--fontSize) * 1);
    line-height: var(--lineHeight);
}

.quiet {
    color: var(--quiet-color);
}

.loud {
    color: var(--strong-accent-color);
}

.italic {
    font-style: italic;
}

.bold, strong {
    font-weight: 600;
}

small, .small {
  font-size: calc(var(--fontSize) * 0.8);
}